* {
    box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body{
    margin: none !important;
    
    width: 100%;
    height: 115%;
}
 
.contenedor{
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 header{
    background-color: rgb(38, 38, 38);
    position: absolute !important;
    top: 0px;
    width: 100%;
    height: 15%
}

.nav{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.izq{
    display: flex;
    align-items: center;
    justify-content: right;

}


.logo {
    margin: 10px;
    height: 70px;
    width: 70px;
    float: left;
    z-index: 3;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 35px;
  }

  .li1 {
    list-style-type: none;
    text-align: center;
    padding: 15px;
    color: white;
    float: left;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 300;
  }

  .derecha{
      display: flex;
      align-items: center;
  }

  li.buscador{
    
    align-items: center;
    list-style-type: none;
    text-align: center;
    padding: 15px;
    color: white;
    
  }  

  .buscador1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
  }
  .resultado{
    margin: 0px;
  }
  /* main */

  section{
      background-color:rgb(240, 240, 240);
      width: 95% !important;
      height: 100%;
      margin: 2%;
      margin-top: 175px !important;
      border-color: darkgray;  
      border: 3px solid gray;
      border-radius: 15px;
     
    }

  .dato{
    text-decoration: none;
    list-style: none;
    font-size: medium;
  } 
  
  hr.color{
    border-color: black;
    border-radius: 3px;
   }

   h3{
     text-decoration: underline;
     font-size: large;
   }

   h1.perfil{
     font-size: x-large;
   }

   
select.genero{
  width: 95.5%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}


/* 
  footer */
/*  

   footer{
    background-color: whitesmoke;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: ;
  } 

  .final{
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
     
  }

  .movie{
      height: 100px;
  }

  .ul2{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 400px;
      padding: 20px;
      right: 0px;
      align-items: center;
     margin: 0px;
  }

  .li2{
      list-style: none;
      font-size: 20px;
      font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }  */