*{box-sizing: border-box;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

/* formulario */
.formulario{
    background-color: floralwhite;
    width: 35%;
}

.cuerpo{
    
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.container {
    padding: 16px;
  }

  input[type=email], input[type=password] {
    width: 95.5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  label {
    font-family:  sans-serif ;
}

  button.ingreso {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }

/* footer */