*{box-sizing: border-box;
  margin-bottom: 20px; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
  
  }
  


  /* .linkss{
      display: flex;
      align-items: center;
  } */
  

  
  /* .buscador1{
      display: flex;
      align-items: center;

  } */

  .botonverde{
      margin: auto;
  }


  li.buscador{
    float: right;
    list-style-type: none;
    text-align: center;
    padding: 15px;
    color: white;
    
  }
  
  .botonBuscar{
    display: none;
  }

  
form input{
  margin-bottom: 15px
}

li.buscador{
  float: right;
  list-style-type: none;
  text-align: center;
  padding: 15px;
  color: white;

}

li.li1{
  margin-top: 20px !important;
}


/* Full-width input fields */

  input[type=text], input[type=password] {
  width: 95.5%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input.mail{
  width: 95.5%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input.nacimiento{
  width: 95.5%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

select.genero{
    width: 95.5%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.cuerpo{
    
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.formulario{
    background-color: floralwhite;
    width: 35%;
}

h1 {
    font-family:  sans-serif ;
}

p {
    font-family:  sans-serif ;
}

label {
    font-family:  sans-serif ;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: thick;
  width: 96%;
 }

.mail {
    width: 100%;
    height: 35px;
    margin-top: 5px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button.usuario {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}


/* footer */
footer{
  overflow: hidden;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  background-color: #F3EDED;
}

.final{
  background-color: white;
}

.li2 {
  float: right;
  list-style-type: none;
  text-align: center;
  color: black;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 11px;
  font-weight: bold;
}

.movie {
  height: 40px;
  float: left;
  position: absolute;
  top: 9px;
  left: 5px;
}
