
    body{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    

    .contenedor{
       height: 100%;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* header{
        background-color: rgb(38, 38, 38);
        position: absolute;
        top: 0px;
        width: 100%;
        height: 15%
    }
    
    .nav{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    
    .izq{
        display: flex;
        align-items: center;
        justify-content: right;
    
    }
    
    
    .logo {
        margin: 10px;
        height: 70px;
        width: 70px;
        float: left;
        z-index: 3;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 35px;
      }
    
      .li1 {
        list-style-type: none;
        text-align: center;
        padding: 15px;
        color: white;
        float: left;
        font-size: 20px;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: 300;
      }
    
      .derecha{
          display: flex;
          align-items: center;
      }
    */
      li.buscador{
        
        padding-top: 30px !important;
        
      } 
    
      /* main */
    
      section{
          background-color:rgb(240, 240, 240);
          width: 95% !important;
          margin: 2%;
          border-color: darkgray;  
          border: 3px solid gray;
          border-radius: 15px;
         
        }
     .resultados{
         margin-left: 2%;
     }
      
    

      footer{
        background-color: whitesmoke;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
      .final{
        height: 100%;
        color: #F3EDED;
      }
    
      .li1 {
        list-style-type: none !important;
        text-align: center !important;
        padding-top: 30px !important;
        color: white !important;
        float: left !important;
        font-size: 15px !important;
        font-family: 'Julius Sans One', sans-serif !important;
        font-weight: 300 !important;
      }