<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/uikit.min.css">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit-core-rtl.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="buscadorUsuarios.css">
	<link rel="stylesheet" href="inicio.css">
	
</head>
<body>
    <header>
		<nav class="header encabezado">
			<ul class="nav">
				<!-- <div class='linkss'> -->
			  <a href="/"> <img class="logo" src="Mono.jpeg"> </a>
			  <a href="/">
				<li class="li1">Inicio</li>
			  </a>
			  <a href="/generos">
				<li class="li1">Géneros</li>
			  </a>

			  <a href="/misResenas">
				<li class="li1">Mis Reseñas</li>
			  </a>
			  <!-- <a class="preferidas" href="/PeliculasPreferidas">
				<li class="li1">Mis películas preferidas</li>
			  </a> -->
				<!-- </div> -->
			  <li class="buscador">
				<form class="buscador1" action="/resultado" method="get">
				  <input id="input" type="search" name="buscador" class="resultado" placeholder="Buscador de películas">
				  <button type="submit">Buscar</button>
				</form>
			  </li>
			  
			</ul>
		
  
		
			</nav>
  
	  </header>
 
 <main>
   <form action="buscadorUsuarios/resultados" class="buscadorUsuarios" method='get'>
    <Label class="contenidoBuscador busca"><b>Buscar usuario</b></Label>
    <input type="text" placeholder=" usuario" id='searchUsuario' name="searchUsuario" class="contenidoBuscador bar"required>
    <input type="submit" class="contenidoBuscador oton" value="Enviar">

    </form>
 </main>
  

    <footer>
        <nav class="final">
            <img class="movie" src="logomovies.png" alt="">
            <ul class="ul2">
              <li class="li2">Maitena Galindez</li>
              <li class="li2">Valentina Campitelli</li>
              <li class="li2">Marcos Estrada</li>
            </ul>
          </nav>
    </footer>
</body>
</html>