<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estas viendo el perfil del usuario: <%= usuario.nombre %></h1>
    <br>
    <ul>
        <li>Email: <%= usuario.email %></li>
        <li>Fecha de nacimiento: <%= usuario.fecha_de_nacimiento %></li>
        <h3>Resenas:</h3>
        <% resena %> 
       
    </ul>
</body>
</html>


