<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../css/uikit.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit-core-rtl.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../inicio.css">
    <link rel="stylesheet" href="../listado.css">
    <link rel="stylesheet" href="../registro.css">
  <title>Editar reseña</title>
</head>
<body>
  <header>
    <nav class="header encabezado">
        <a href="/"> <img class="logo" src="../Mono.jpeg"> </a>
        <ul class="nav">
          <a href="/">
            <li class="li1">Inicio</li>
          </a>
          <a href="/registro">
           <li class="logIn"><button class="button uk-margin-small-right" type="button" uk-toggle="target: #modal-login">Registrarse</button>
          </li> 
           </a>
           <!-- <a href="/login">
            <li class="logIn"><button class="button uk-margin-small-right" type="button" uk-toggle="target: #modal-login">Ingresar</button>
           </li> 
            </a> -->
          <a href="/generos">
            <li class="li1">Géneros</li>
          </a>
          <a href="/misResenas">
            <li class="li1">Mis reseñas</li>
          </a>
          <a href="/buscadorUsuarios">
          <li class="li1">Buscador de Usuarios</li></a>
          <li class="buscador">
            <form class="buscador1" action="/resultado" method="get">
              <input id="input" type="search" name="buscador" class="resultado" placeholder="Buscador de películas">
              <button type="submit">Buscar</button>
            </form>
          </li>
          <li class="nombre"> </li>
        </ul>
      </nav class="header">

    <nav class="mqMobile">
        <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-left">
                    <a href="/" class="uk-navbar-item uk-logo">
                        <img src="../Mono.jpeg" class="logoMq" alt="logo" srcset="">
                    </a>
                    <li class="nombre"> </li>
                    <a class="uk-navbar-toggle dis-none h-40" id="navbar_toggle">
                        <i uk-icon="icon: menu; ratio: 2">
                          <svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="menu"><rect x="2" y="4" width="16" height="1"></rect><rect x="2" y="9" width="16" height="1"></rect><rect x="2" y="14" width="16" height="1"></rect></svg>
                        </i>


                    </a>
                    <div class="navbar-collapse" id="navbar_collapse" style="display: block;">
                        <ul class="uk-navbar-nav">
                          <ul class="nav">
                            <a href="/">
                              <li class="li1">Inicio</li>
                            </a>
                            <!-- <li class="logInMq"><button class="button uk-margin-small-right" type="button" uk-toggle="target: #modal-login">Log in</button>
                            </li> -->
                            <a href="/generos">
                              <li class="li1">Géneros</li>
                            </a>
                            <a href="/MisResenas">
                              <li class="li1">Mis reseñas</li>
                            </a>
                            <a href="/registro">
                            <li class='li1'>Crear Usuario</li>
                           </a>
                             <!-- <a class="preferidasMq" href="/PeliculasPreferidas">
                              <li class="li1" >Mis películas preferidas</li>
                            </a> -->
                            <li class="buscador">
                              <form class="buscador1" action="/resultado" method="get">
                                <input type="search" name="buscador" class="resultado" placeholder="Buscador">
                                <button type="submit" class="botonBuscar">Buscar</button>
                              </form>                                
                            </li>
                          </ul>
                        </ul>
                    </div>
                </div>
          </nav>
        </nav>

  </header>

<section>
  <section>
    <p class="editar"> ¿Desea editar esta reseña?</p>
    <div class= 'cuerpo_1'>
    <form class="formulario" action="/editarResena/<%= resena.id %> " method="post" class="resenas">
        <h1>Editar reseña </h1>
      <div>
          <input type="email" class="mail" name="email" placeholder="Email" required >
      </div>
      <div>
          <input type="password" name="password" placeholder="Contraseña"  required>
      </div>
      <div>
        <input type="text" name="texto" placeholder="Nueva Resena" value="<%= resena.texto %> " required>
      </div>
      <div>
        <label> <b>Nuevo Puntaje</b> </label>
         <select value="<%= resena.puntaje %>" class="puntaje" name="puntaje" required>
          <option value="nada" selected disabled>Elegir</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select> 
      </div>
      <button class="usuario_1" type="submit"> Editar </button>
    </form>
  </div>
  </section>
</section>

<footer>
  <nav class="final">
    <img class="movie" src="../logomovies.png" alt="">
    <ul class="ul2">
      <li class="li2">Maitena Galindez</li>
      <li class="li2">Valentina Campitelli</li>
      <li class="li2">Marcos Estrada</li>
    </ul>
  </nav>
</footer>
</body>
</html>