<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/uikit.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit-core-rtl.min.css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="inicio.css">
  <link rel="stylesheet" href="listado.css">
  <title>Listado de resenas</title>
</head>
<body>
  <header>
    <nav class="header encabezado">
        <a href="/"> <img class="logo" src="Mono.jpeg"> </a>
        <ul class="nav">
          <a href="/">
            <li class="li1">Inicio</li>
          </a>
          <a href="/registro">
           <li class="logIn"><button class="button uk-margin-small-right" type="button" uk-toggle="target: #modal-login">Registrarse</button>
          </li> 
           </a>
           <!-- <a href="/login">
            <li class="logIn"><button class="button uk-margin-small-right" type="button" uk-toggle="target: #modal-login">Ingresar</button>
           </li> 
            </a> -->
          <a href="/generos">
            <li class="li1">Géneros</li>
          </a>
          <a href="/misResenas">
            <li class="li1">Mis reseñas</li>
          </a>
          <a href="/buscadorUsuarios">
          <li class="li1">Buscador de Usuarios</li></a>
          <li class="buscador">
            <form class="buscador1" action="/resultado" method="get">
              <input id="input" type="search" name="buscador" class="resultado" placeholder="Buscador de películas">
              <button type="submit">Buscar</button>
            </form>
          </li>
          <li class="nombre"> </li>
        </ul>
      </nav class="header">
  </header>
 


  <section class="listado">
    <p> Las resenas del usuario </p>
  </section>

    <footer>
        <nav class="final">
          <img class="movie" src="logomovies.png" alt="">
          <ul class="ul2">
            <li class="li2">Maitena Galindez</li>
            <li class="li2">Valentina Campitelli</li>
            <li class="li2">Marcos Estrada</li>
          </ul>
        </nav>
      </footer>
</body>
</html>