<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario para crear películas</title>
</head>
<body>
	<form action="/" method="post">
		<label>Usuario:</label>
		<input type="text" name="title">
		<br>
		
		<label>Mail:</label>
		<input type="email" name="rating">
		<br>
		
		<label>Constraseña:</label>
		<input type="password" name="awards">
		<br>
		
		<label>Fecha de nacimiento:</label>
		<input type="date" name="length">
		<br>
	
		<button type="submit">Crear Usuario</button>
	</form>
</body>
</html>