<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Formulario para crear películas</title>
</head>
<body>
	<form action="/movies/store" method="post">
		<label>Usuario:</label>
		<input type="text" name="title">
		<br>
		
		<label>Mail:</label>
		<input type="email" name="rating">
		<br>
		
		<label>Constraseña:</label>
		<input type="password" name="awards">
		<br>
		
		<label>Fecha de nacimiento:</label>
		<input type="date" name="length">
		<br>
		
		<!-- <label>Id de Género:</label>
		<select name="genre_id" id="">
			<% for( let i = 0; i < listadoDeGeneros.length; i++ ) { %>
			<option value="<%= listadoDeGeneros[i].id %>"> <%= listadoDeGeneros[i].name %> </option>
			<% } %>
		</select>
		<br>

		<br> -->
		<button type="submit">GUARDAR</button>
	</form>
</body>
</html>