<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/uikit.min.css">
	<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit-core-rtl.min.css">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Roboto+Mono:500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="registro.css">
	<link rel="stylesheet" href="inicio.css">
	<title>Registro</title>
</head>
<body>

	<header>
		<nav class="header encabezado">
			<ul class="nav">
				<!-- <div class='linkss'> -->
			  <a href="/"> <img class="logo" src="Mono.jpeg"> </a>
			  <a href="/">
				<li class="li1">Inicio</li>
			  </a>
			  <a href="/generos">
				<li class="li1">Géneros</li>
			  </a>
			  <a href="/buscadorUsuarios">
				<li class="li1">Buscador de Usuarios</li></a>
			  <li class="buscador">
				<form class="buscador1" action="/resultado" method="get">
				  <input id="input" type="search" name="buscador" class="resultado" placeholder="Buscador de películas">
				  <button type="submit">Buscar</button>
				</form>
			  </li>
			  
			</ul>
		  </nav class="header">
  
		<nav class="mqMobile">
			<nav class="uk-navbar-container" uk-navbar>
					<div class="uk-navbar-left">
						<a href="/" class="uk-navbar-item uk-logo">
							<img src="Mono.jpeg" class="logoMq" alt="logo" srcset="">
						</a>
						<li class="nombre"> </li>
						<a class="uk-navbar-toggle dis-none h-40" id="navbar_toggle">
							<i uk-icon="icon: menu; ratio: 2">
							  <svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="menu"><rect x="2" y="4" width="16" height="1"></rect><rect x="2" y="9" width="16" height="1"></rect><rect x="2" y="14" width="16" height="1"></rect></svg>
							</i>
  
  
						</a>
						<div class="navbar-collapse" id="navbar_collapse" style="display: block;">
							<ul class="uk-navbar-nav">
							  <ul class="nav">
								<a href="/">
								  <li class="li1">Inicio</li>
								</a>
								<a href="/generos">
								  <li class="li1">Géneros</li>
								</a>
								<li class="buscador">
								  <form class="buscador1" action="/resultado" method="get">
									<input type="search" name="buscador" class="resultado" placeholder="Buscador">
									<button type="submit" class="botonBuscar">Buscar</button>
								  </form>                                
								</li>
							  </ul>
							</ul>
						</div>
					</div>
			  </nav>
			</nav>
  
	  </header>
	<div class= 'cuerpo'>
	<form class="formulario" action="/registro/registrado" method="post" style="border:1px solid #ccc">
	<div class="container">
		<h1>Registrarse</h1>
		<p>Completa los casilleros para crear tu usuario</p>
		<hr>
		<label><b>Usuario:</b></label>
		<input type="text" placeholder="Ingresar usuario" name="nombre" required>
		<br>
		
		<label><b>Mail:</b></label>
		<br>
		<input class='mail' type="email" placeholder="Ingresar correo electrónico" name="email" required>
		<br>
		
		<label><b>Contraseña:</b></label>
		<input type="password" name="password" required>
		<br>
		
		<label><b>Fecha de nacimiento:</b></label>
		<input class="nacimiento" type="date" name="fecha_de_nacimiento" required>
		<br>

		<label><b>¿Cuál es tu género de pelicula favorito?</b></label>
		<select class="genero" name="id_genero" id="">
			<option selected disabled>Elegir</option>
			<% for( let i = 0; i < arrayGeneros.length; i++ ) { %>
				<option value="<%= arrayGeneros[i].id %> "><%= arrayGeneros[i].name %> </option>
			<% } %>
		</select>
		
		<button class="usuario" type="submit">Crear Usuario</button>

	
	</form>
</div>
</div>

<br>
<br>

<footer>
	<nav class="final">
	  <img class="movie" src="logomovies.png" alt="">
	  <ul class="ul2">
		<li class="li2">Maitena Galindez</li>
		<li class="li2">Valentina Campitelli</li>
		<li class="li2">Marcos Estrada</li>
	  </ul>
	</nav>
  </footer>
</body>

</html>