<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estos son los resultados de tu busqueda</h1>
    <% if(usuarios.length !=0){%>
        <% for(let i = 0; i < usuarios.length; i++) {%>
        <h3> <a href="/detalle/<%=usuarios[i].id%>"><%= usuarios[i].nombre %></a> | Email: <%= usuarios[i].email %>  </h3>
        <%}%>
        <%} else {%>
            <p>No ningún usuario para tu busqueda</p>
        <% } %>
</body>
</html>